a:visited {
    color:  #6b0015;
}

a:hover {
    color: white;
}

nav a {
    padding-left: 0.5cm;
}

header, footer {
    border-radius: 25px;
    border-color: #6b0015;
    border-style: ridge;
    background-color:  	 #ae001a;
    color: white;
    font-size:larger;
    text-align: center;
    padding: 0.1cm;
    padding-bottom: 0.2cm;
}

html {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    align-items: center;
    list-style: none;
}

main {
    border-radius: 25px;
    background-color: antiquewhite;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}

nav {
    text-align: center;
    font-size: x-large;
}

.book-title {
    font-style: italic;
}


